h1{
    margin-left: 40%;
}


.poubelles{
   position: absolute;
    top: 70%;
}

.poubelles1{
    position: absolute;
}


#deche{

    margin-left: 35%;
    width: 30%;
    height: 30%;
    margin-top: 20%;
}

#vert{
    right: 0%;
}

#marron{

    right: 0%;
}



#reponses{
    margin-top: 65%;
}

#score{
    margin-top: 10%;
}

#bouto{
    margin-top: 60%;
}

#nouvelle{
    display: none;
}

